<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sTips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14CA81B31F03491A00C8E290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14CA81CC1F03491A00C8E290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14CA81D71F03491A00C8E290</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
